@model helperland_1.Models.ServiceRequest 

@{ 
    var inbalance = Model.SubTotal - (Model.RefundedAmount??0);
}
<div class="modal-header">
    <h4 class="modal-title fw-bold" id="editRescheduleLabel">Refund Amount</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="d-flex px-4 justify-content-between">
    <div class="d-flex flex-column va">
        <p class="mb-1">Paid Amount</p>
        <p class="mb-1"><span >@Model.SubTotal</span></p>
    </div>
    <div class="d-flex flex-column va">
        <p class="mb-1">Refunded Amount</p>
        <p class="mb-1"> $@Model.RefundedAmount</p>
    </div>
    <div class="d-flex flex-column va">
        <p class="mb-1">In Balance Amount</p>
        <p class="mb-1" >$ <span id="inbalance">@inbalance</span> </p>
    </div>
</div>
<div class="modal-body d-flex refundModalModal p-4 justify-content-center">
    <form action="">
        <div class="row mb-3">
            <div class="col-sm-6">
                <div class="form-group d-flex flex-column">
                    <label for="amountRefundModal" class="control-label fw-bold">Amount</label>
                    <div class="d-flex">
                        <input type="number" id="refundamount" maxlength="2" name="amountRefundModal" class="ht bdr2" style="max-width: 130px;">
                        <select style="max-width: 130px;" class="p-1 border-none">
                            <option value="percentage">Percentage</option>               
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group d-flex flex-column">
                    <label for="calculatedRefundModal" class="control-label fw-bold">Calculated</label>
                    <div class="d-flex">
                        <button class="border-none bdr2 p-2" type="button" id="calculate" style="width: 130px;">Calculate</button>
                        <input type="text" id="printrfnd" disabled name="calculatedRefundModal" class="ht bdr2" style="max-width: 130px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group d-flex flex-column mb-3">
            <label for="reasonScheduleEdit" class="fw-bold">Why do you want to reschedule service request?</label>
            <textarea name="reasonScheduleEdit" id="commentrefund" rows="4" maxlength="500" placeholder="Why do you want to reschedule service request?" class="bdr2 p-2"></textarea>
        </div>
        <div class="form-group d-flex flex-column mb-3">
            <label for="reasonScheduleEdit" class="fw-bold">Call Center EMP Notes</label>
            <textarea name="reasonScheduleEdit" id="" rows="3" maxlength="500" placeholder="Enter notes" class="bdr2 p-2"></textarea>
        </div>
        <button type="button" id="refundupdate" class="btn refundupdateBtn w-100">Update</button>
    </form>
</div>

<script>
    var per, balance, total;
    $(document).on("click", "#calculate", function () {   
        per = parseInt($("#refundamount").val());
        balance = parseInt($("#inbalance").html());
        if (per > 100) {
            alert("buddhi che!!");
        }
        else {      
       
        console.log($("#inbalance").html());
        total = parseInt(balance * (per / 100));
        console.log(total);
        console.log(per);
            console.log(balance);
            $("#printrfnd").val(total);
        }
    });
</script>