* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.header .navbar .navbar-brand img {
    width: 90px;
    height: 64px;
    margin-left: 15%;
}
.disabled{
    pointer-events:none;
}
.header {
    background-color: #646464;
}

    .header .navbar-nav {
        margin-left: auto !important;
    }

        .header .navbar-nav .nav-btnn a, .btnn {
            color: white;
            margin: 5px;
            padding: 30px;
            font-size: 20px;
        }

            .header .navbar-nav .nav-btnn a:hover {
                border: 1px solid white;
                border-radius: 40px;
                color: white;
            }

        .header .navbar-nav .nav-btn-blue a {
            background-color: #29626D;
            border-radius: 40px;
            border: 1px solid white;
        }

        .header .navbar-nav .nav-btn-blue .btnn {
            background-color: #29626D;
            border-radius: 40px;
            border: 1px solid white;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }

/*modal*/
.modal-body .input-fields input {
    width: 99%;
}

.modal-body .btn {
    width: 100%;
    color: white;
    background-color: #29626D;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-body .create {
    padding-top: 25px;
    padding-bottom: 25px;
}

    .modal-body .create p {
        margin: 0;
    }

    .modal-body .create a {
        text-decoration: none;
        font-weight: 600;
        color: #29626D;
    }

/*modal*/

.image-dec img {
    width: 100vw;
    height: auto;
}

.title h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #4F4F4F;
}

.title img {
    padding-bottom: 50px;
}

.container {
    height: fit-content;
}

    .container .options {
        background-color: rgb(207, 204, 204);
    }

        .container .options a {
            list-style: none;
            text-decoration: none;
            color: black;
            padding: 20px;
        }

/*buttons list*/
.list-group .list-group-item.active {
    background-color: #1d7a8c !important;
    color: white !important;
    border: 1px solid #1d7a8c;
}

    .list-group .list-group-item.active::after {
        position: absolute;
        content: "";
        height: 0;
        width: 0;
        top: 100%;
        border-width: 15px 15px 0 15px;
        border-color: #1d7a8c transparent transparent transparent;
        border-style: solid;
        left: 50%;
        margin-left: -14px;
    }


/*set up service*/

.set_up_service p {
    font-weight: 700;
    font-size: 22px;
    color: rgb(85, 83, 83);
}

.set_up_service button {
    background-color: #1d7a8c;
    color: white;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    border-radius: 25px;
    font-weight: 600;
}

/*details*/

.details {
    font-weight: 700;
    font-size: 22px;
    color: rgb(85, 83, 83);
}

.address {
    border: 1px solid gray;
    margin-bottom: 1rem;
    padding: 15px;
}


.new-address {
    display: none;
    border: 1px solid gray;
    padding: 20px;
    background-color: #eff0f1;
    margin-bottom: 50px;
}

#list-messages .btnn {
    background-color: white;
    color: #1d7a8c;
    padding: 10px;
    border: 2px solid #1d7a8c;
    border-radius: 30px;
}

#list-messages .option-5 {
    border-top: 1px solid gray;
}

.new-address .btn1 {
    background-color: #1d7a8c;
    color: white;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #1d7a8c;
}

.new-address .btn2 {
    color: gray;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
}



.form-check-input[type=checkbox] {
    border-radius: 50%;
}

.address input {
    height: 10px;
    width: 10px;
}

.form-check p {
    margin: 0%;
}

.detail1 {
    font-weight: 600;
    font-size: 18px;
    color: rgb(85, 83, 83);
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.detail2 {
    font-weight: 600;
    font-size: 18px;
    color: rgb(85, 83, 83);
}

#list-messages .card {
    border: none;
}

    #list-messages .card img {
        width: 85px;
        height: 85px;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 50%;
        background-color: #eff0f1;
    }

.card .btn {
    border: 1px solid gray;
}

.favourite {
    border-bottom: 1px solid gray;
}


/*make payment*/
.promocode {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

.apply {
    margin-left: 25px;
    border: 1px solid #1d7a8c;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

    .apply a {
        text-decoration: none;
        color: #1d7a8c;
        font-size: 20px;
        font-weight: 500;
    }

.CCdetails {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid grey;
}

    .CCdetails input {
        border: none;
    }

.accepted {
    padding-top: 25px;
    padding-bottom: 19px;
    border-top: 1px solid grey;
}

    .accepted p {
        margin: 0;
    }

    .accepted img {
        padding-right: 5px;
    }

.condition {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.form-check p {
    margin-left: 10px;
}

.option-1 {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

    .option-1 p {
        font-weight: 700;
        font-size: 22px;
        color: rgb(85, 83, 83);
    }

    .option-1 select {
        padding: 12px;
    }


.option-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

    .option-2 p {
        font-weight: 700;
        font-size: 22px;
        color: rgb(85, 83, 83);
    }

    .option-2 select, input {
        padding: 12px;
    }

    .option-2 .option-2a {
        padding-right: 40px;
    }


.services_cover {
    display: flex;
}

.services_icon {
    height: 108px;
    width: 108px;
    border: solid 1px #b0c9ce;
}

.services_inner {
    width: 65px;
    margin: 40px 3vw;
}

.services_content {
    margin-top: 17px !important;
}

    .services_content p {
        color: #646464;
        margin-bottom: 12px !important;
    }

    .services_content h5 {
        color: #1d7a8c;
    }

.prices_areas {
    background-color: #f6f6f6;
    min-height: 707px;
}

.services_card {
    background-color: transparent !important;
    flex: none !important;
}

.services_card_list li {
    margin-bottom: 14px;
}

    .services_card_list li p {
        font-size: 16px;
        color: #4f4f4f;
    }

.services_card h5 {
    margin-bottom: 18px;
}

.option-3 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

    .option-3 p {
        font-weight: 700;
        font-size: 22px;
        color: rgb(85, 83, 83);
    }

    .option-3 .dec {
        padding: 30px;
        border: 1px solid black;
        margin: 7px;
        border-radius: 50%;
    }

.option-4 {
    border-bottom: 1px solid grey;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .option-4 p {
        font-weight: 700;
        font-size: 22px;
        color: rgb(85, 83, 83);
    }

    .option-4 textarea {
        width: 100%;
    }

.option-5 {
    padding-top: 30px;
}

    .option-5 .btn {
        background-color: #29626D;
        color: white;
        font-weight: 600;
        float: right;
        border-radius: 20px;
        width: fit-content;
    }

.right-block {
    padding-left: 15px;
}

    .right-block .card {
        box-shadow: 0 0 10px 1px gray;
    }

    .right-block .card-header {
        background-color: #29626D;
        color: white;
        height: 70px;
        line-height: 2;
        font-size: 25px;
    }

    .right-block .card .card-footer {
        color: rgb(85, 83, 83);
        font-size: 17px;
    }

    .right-block .line-0, .line-1, .line-2, .line-3, .line-5, .line-6 {
        color: rgb(85, 83, 83);
        font-weight: 500;
        font-size: 20px;
    }

    .right-block .line-0 {
        padding-bottom: 30px;
    }

        .right-block .line-0 p {
            margin: 0%;
        }

    .right-block .line-1 {
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
    }

        .right-block .line-1 p {
            margin: 0%;
        }

    .right-block .line-2 {
        padding-top: 7px;
        padding-bottom: 15px;
        border-bottom: 1px solid grey;
    }

    .right-block .line-3 {
        padding-top: 7px;
        padding-bottom: 15px;
        border-bottom: 1px solid grey;
    }

        .right-block .line-3 p {
            margin: 0;
        }

    .right-block .line-4 {
        padding-top: 7px;
        padding-bottom: 15px;
    }

        .right-block .line-4 p {
            font-size: 35px;
            color: #29626D;
        }

        .right-block .line-4 span {
            font-size: 50px;
            color: #29626D;
            font-weight: 700;
        }

    .right-block .line-5 p {
        font-size: 23px;
    }

    .right-block .line-5 span {
        font-size: 30px;
        color: grey;
        font-weight: 600;
    }

    .right-block .line-6 span {
        color: red;
        font-size: 20px;
    }

    .right-block .line-6 p {
        font-size: 18px;
    }

    .right-block .ques {
        padding-top: 30px;
        color: rgb(85, 83, 83);
    }

        .right-block .ques .ques-1 {
            font-size: 30px;
            font-weight: 700;
        }

        .right-block .ques a {
            color: #29626D;
            font-size: 20px;
            font-weight: 700;
            padding-left: 10px;
            padding-top: 16px;
            text-decoration: none;
        }





.our-news-letter {
    padding-bottom: 55px;
    background: #ffffff;
    margin-top: 5%;
}

    .our-news-letter .container {
        position: relative;
        max-width: 1420px;
    }

    .our-news-letter a {
        display: inline-block;
    }

    .our-news-letter h2 {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .our-news-letter .form-row .form-control {
        border-radius: 20px;
        border: solid 1px #565656;
        background-color: #f4f5f8;
        color: #565656;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 22px;
    }
    .our-news-letter .form-row .form-control:focus {
        box-shadow: none;
    }

    .our-news-letter .btn-wrapper {
        margin-left: 11px;
    }

.red-btn {
    background-color: #FF7B6D;
    font-size: 14px;
    line-height: 37px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    width: 88px;
    transition: 0.3s all;
}

    .red-btn:hover {
        background-color: #eb6e61;
        color: #fff;
    }








.site-footer .container {
    max-width: 1420px;
}

.site-footer .footer-top {
    background: #111111;
    padding: 27px 0;
}

.site-footer a {
    display: inline-block;
}

.site-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .site-footer ul.footer-navigation li a:hover, .site-footer ul.social-media-list a:hover {
        opacity: 0.8;
    }

    .site-footer ul.footer-navigation {
        flex-wrap: wrap;
    }

        .site-footer ul.footer-navigation li + li {
            margin-left: 30px;
        }

        .site-footer ul.footer-navigation li a {
            color: #F1F1F1;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 2.14;
            transition: opacity 0.3s;
        }

    .site-footer ul.social-media-list li {
        text-align: center;
    }

    .site-footer ul.social-media-list a {
        width: 20px;
        height: 20px;
        transition: opacity 0.3s;
    }

    .site-footer ul.social-media-list li:last-child {
        margin-left: 20px;
    }

.site-footer .footer-bottom {
    background: #292929;
    padding: 19px 0;
    position: relative;
}

    .site-footer .footer-bottom p {
        color: #f1f1f1;
        margin-bottom: 0;
        font-size: 14px;
    }

        .site-footer .footer-bottom p a {
            text-decoration: none;
            color: #6EABEF;
        }



@media(max-width: 1400px) {
    .option-2 {
        flex-direction: column;
    }

    .list-menu .list-group a {
        flex-direction: column;
    }
}

@media(max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .right-block {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .set_up_service {
        padding-bottom: 40px;
        text-align: center;
    }

    .navbar .collapse {
        text-align: center;
    }

    .site-footer ul.footer-navigation li {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .site-footer ul.footer-navigation li + li {
        margin-left: 0;
    }

    .set_up_service .postal-code {
        justify-content: center;
    }

    .option-3 .services_cover {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .site-footer .footer-widget {
        text-align: center;
        padding-bottom: 30px;
    }

    .site-footer ul.social-media-list {
        margin-top: 10px;
        justify-content: center !important;
    }
}

@media(max-width: 800px) {
    .nav-title {
        display: none;
    }
}

@media(max-width: 580px) {


    .postal-code {
        flex-direction: column;
        justify-content: center;
    }

    .postal-code button {
        margin-top: 32px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
