@model helperland_1.Models.User


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="~/css/account.css">
    <title>about</title>
</head>

<body>
    <div class="container text-center">
        <h3>Create an account</h3>
        <img src="~/lib/images/forma-1-copy-5.png" alt="">

        <form class="form"  asp-controller="home" asp-action="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="text" name="Firstname" placeholder="First name" id="Firstname" asp-for="FirstName">
            <input type="text" name="Lastname" placeholder="Lastname" id="Lastname" asp-for="LastName"> <br>

            <input type="email" name="Email" placeholder="E-mail" id="Email" asp-for="Email">
            <input type="number" name="Mobile" placeholder="phone number" id="Mobile" asp-for="Mobile">  <br>

            <input type="password" name="Password" placeholder="password" id="Password" asp-for="Password" >
            <input type="password" name="confirmpassword" placeholder="confirm-password" id="confirm-password" asp-for="confirmpassword">  <br>

            <div class="check">
                <input type="checkbox" id="option-a" required>
                <label for="option-a">i have read the <a href="">privacy policy</a></label> <br>
            </div>
            <button type="submit" class="btn">Register</button>  <br>

            <p>Already registered? <a href="">Login now</a></p>
        </form>
    </div>
</body>
</html>