
@{
    Layout = null;
   

    var userid = HttpContextAccessor.HttpContext.Session.GetInt32("userid");
    var username = HttpContextAccessor.HttpContext.Session.GetString("username");
}

@model helperland_1.Models.USmysetting

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/favicon_img.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/css/upcomingservice.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script type="text/javascript" src="~/js/upcomingservice.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <title>Service Provider-Upcoming Service</title>
</head>
<body>
    <div class="header1" id="topheader">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #525252;" id="navbar11">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="home" asp-action="index">
                    <img src="~/images/white-logo-transparent-background.png" style="width: 73px; height: 54px;" id="imgg2">
                </a>
                <!-- ............RightSidenav............. -->
                <div>
                    <span class="bellImg1">
                        <a href="">
                            <span class="leftt"></span>
                            <img src="~/images/icon-notification.png" alt="" height="32px" width="29px" class="mb-2 bellImg">
                            <span class="rightt"></span>
                        </a>
                    </span>
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()" class="rtt"> &#9776</span>
                    <div id="mySidenav" class="sidenav">
                        <span class="nav-link">
                            Welcome,<br>
                            <div class="font-weight-bold ml-0">@username</div>
                        </span>
                        <hr style="height: 5px; color: black;" class="mt-1 mb-1">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a>Dashboard</a>
                        <a asp-controller="home" asp-action="upcomingservice">New Service Request</a>
                        <a asp-controller="home" asp-action="upcomingservicetab">Upcoming services</a>
                        <a>Service Schedule</a>
                        <a asp-controller="home" asp-action="USservicehistory">Service History</a>
                        <a asp-controller="home" asp-action="blockcustomer">My Ratings</a>
                        <a>Invoices</a>
                        <a asp-controller="home" asp-action="upcomingsetting">My Settings</a>
                        <a asp-controller="home" asp-action="logout">Logout</a>
                        <hr style="height: 5px; color: black;" class="mt-1 mb-1">
                        <a asp-controller="home" asp-action="prices">Prices and Services</a>
                        <a>Warranty</a>
                        <a>Blog</a>
                        <a asp-controller="home" asp-action="contactus">Contact</a>
                        <hr style="height: 5px; color: black;" class="mt-1 mb-1">
                        <a href="" class="ml-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18" class=" ml-3 mr-3">
                                <path fill-rule="evenodd" fill="#000" d="M1.947 3.48v2.481H0v3.033h1.947V18.1h4.001V8.995h2.685S8.885 7.541 9.7 5.95H5.963V3.876c0-.31.437-.728.868-.728H9.11V.9H6.46C1.848.9 1.947 3.27 1.947 3.48z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="ms-3">
                                <path fill-rule="evenodd" fill="#000" d="M14.48 20H5.519A5.524 5.524 0 0 1 0 14.482V5.52C0 2.477 2.475.2 5.519.2h8.961c3.043 0 5.519 2.277 5.519 5.32v8.962A5.525 5.525 0 0 1 14.48 20zm3.744-5.518V5.52a3.748 3.748 0 0 0-3.744-3.744H5.519A3.749 3.749 0 0 0 1.774 5.52v8.962a3.749 3.749 0 0 0 3.745 3.744h8.961a3.748 3.748 0 0 0 3.744-3.744zm-2.855-8.536c-.099 0-.678-.14-.92-.381-.242-.243.221-.578.221-.921 0-.342-.463-.678-.221-.92.242-.242.821-.381.92-.381.343 0 1.111.139.92.381.242.242.381.578.381.92 0 .342-.139.678-.381.921.171.241-.577.381-.92.381zm-5.37 9.208c-2.841 0-5.153-2.312-5.153-5.054 0-2.941 2.312-5.252 5.153-5.252 2.842 0 5.153 2.311 5.153 5.252 0 2.742-2.311 5.054-5.153 5.054zm0-8.532c-1.863 0-3.379 1.516-3.379 3.478 0 1.764 1.516 3.28 3.379 3.28s3.379-1.516 3.379-3.28c0-1.962-1.516-3.478-3.379-3.478z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse dis topNavbar1" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mt-4">
                            <div class="nav-btn">
                                <a class="nav-link1 rounded-pill py-3" asp-controller="home" asp-action="prices">Prices & services</a>
                            </div>
                        </li>
                        <li class="nav-item mt-4">
                            <div class="nav-btn">
                                <a class="nav-link1 rounded-pill py-3">Warranty</a>
                            </div>
                        </li>
                        <li class="nav-item mt-4">
                            <div class="nav-btn">
                                <a class="nav-link1 rounded-pill py-3 px-3">Blog</a>
                            </div>
                        </li>
                        <li class="nav-item mt-4">
                            <div class="nav-btn ">
                                <a class="nav-link1 rounded-pill py-3" asp-controller="home" asp-action="contactus">Contact</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class=" nav-btn bdr bdl">
                                <a class="navbar-brand mt-2 ml-3" href="#">
                                    <img src="~/images/icon-notification.png" alt="" height="32px" width="29px" class="d-flex">
                                </a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="navbar-brand mt-2 ml-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/admin-user.png" class="mr-1">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right clrr" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item mt-1">Welcome,@username !</a>
                                <hr class="hrr">
                                <a class="dropdown-item" asp-controller="home" asp-action="upcomingservice">My Dashboard</a>
                                <a class="dropdown-item" asp-controller="home" asp-action="upcomingsetting">My Settings</a>
                                <a class="dropdown-item" asp-controller="home" asp-action="logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="custHeader position-relative d-flex align-items-center justify-content-center">
        <p class="m-0" style="color: #4f4f4f;">Welcome, <span class="font-weight-bold" style="color: #4f4f4f;">@username !</span></p>
    </div>
    <div class="Main-dash d-flex justify-content-between m-3">
        <!-- --------------- Sidebar -------------- -->
        <div class="sidebar position-relative postion-sticky sticky-top">
            <ul class="inner mb-0 h-100">
                <li>
                    <a class="text-light" aria-current="page" id="dashBoard">Dashboard</a>
                </li>
                <li>
                    <a class="text-light" id="NewService" asp-controller="home" asp-action="upcomingservice">New Service Requests</a>
                </li>
                <li>
                    <a class="text-light" id="Upcomingg" asp-controller="home" asp-action="upcomingservicetab">Upcoming Services</a>
                </li>
                <li>
                    <a id="serviceSchedulee" class="text-light">Service Schedule</a>
                </li>
                <li>
                    <a id="serviceHistoryy" class="text-light" asp-controller="home" asp-action="USservicehistory">Service History</a>
                </li>
                <li>
                    <a id="ratingss" class="text-light" asp-controller="home" asp-action="ratings">My Ratings</a>
                </li>
                <li>
                    <a id="blockCustomerr" class="text-light" asp-controller="home" asp-action="blockcustomer">Block Customer</a>
                </li>
                <li>
                    <a id="invoices" class="text-light">Invoices</a>
                </li>
                <li>
                    <a id="myNotificationss" class="text-light">Notification</a>
                </li>
            </ul>
        </div>
        <!-- -------------------All Tables List------------------- -->
        <div class="whole_tables">

            <!-- .......ServiceDashboad My Settings TABLE...... -->
            <div class="settingsData w-100 d-block" id="custSettings">
                <ul class="nav nav-fill nav-tabs" id="myTab" role="tablist" style="border:none">
                    <li class="nav-item ea">
                        <a class="nav-link active" id="myDetails" data-toggle="tab" data-target="#myDetailsMenu" type="button" aria-controls="myDetails" aria-selected="true">
                            <span style="color:#4f4f4f; border: none;">My Details</span>
                        </a>
                    </li>
                    <li class="nav-item ea">
                        <a class="nav-link" id="changePassword" data-toggle="tab" data-target="#changePasswordTab" type="button" aria-controls="changePassword" aria-selected="false">
                            <span style="color:#4f4f4f;">Change Password</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content mt-3" id="myTabContent">
                    <!-- -------------------------------- my details menu -----------------------------------  -->
                    <div class="tab-pane fade show active" id="myDetailsMenu" role="tabpanel" aria-labelledby="myDetails">
                        <h3 class="accountStatus">
                            Account Status:
                            <span class="fw-normal">Active</span>
                            @*<img class="avatar rounded-circle" src="~/images/avatar-female.png" alt="" height="85">*@
                        </h3>
                        <label for="" class="fw-bold detailss">Basic Details</label>
                        <hr>
                        <form asp-action="upcomingsetting" asp-controller="home" method="post">
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="firstname">First Name</label>
                                        <input type="text" asp-for="Users.FirstName" id="us1" class="ht bll pdd form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="firstname">Last Name</label>
                                        <input type="text" asp-for="Users.LastName" id="us2" class="ht bll pdd form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="firstname">Email Address</label>
                                        <input type="email" asp-for="Users.Email" disabled class="ht bll pdd form-control">
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="firstname">Mobile Number</label>
                                        <div class="d-flex">
                                            <input type="text" value="+91" readonly style="max-width: 52px;" class="ht bll pdd form-control">
                                            <input type="text" asp-for="Users.Mobile" id="us3" class="ht bll pdd form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <div class="d-flex flex-column">
                                            <label for="birthdate">Date Of Birth</label>
                                            <div class="d-flex">
                                                <input type="date" asp-for="Users.DateOfBirth" id="us4" class="ht bll pdd form-control" required>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <div class="d-flex flex-column">
                                            <label for="nationality">Nationality</label>
                                            <div class="d-inline-block">
                                                <select name="nationality" id="" class="ht bll pdd w-100">
                                                    <option value="indian" selected>Indian</option>
                                                    <option value="british">British</option>
                                                    <option value="french">French</option>
                                                    <option value="spanish">Spanish</option>
                                                    <option value="german">German</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-column my-3">
                                    <label for="" class="control-label ">
                                        Gender
                                    </label>
                                    <div class="">

                                        <div class="form-check form-check-inline d-inline mx-2 ms-0">
                                            @*<input class="form-check-input" type="radio" value="1" id="male" name="radioInput" checked>*@
                                            <input class="form-check-input" type="radio" value="1" asp-for="Users.Gender">
                                            <label class="form-check-label genderrr">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline d-inline mx-2">
                                            @*<input class="form-check-input" type="radio" value="2" id="female" name="radioInput">*@
                                            <input class="form-check-input"type="radio" value="2" asp-for="Users.Gender">
                                            <label class="form-check-label genderrr" for="male">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline d-inline mx-2">
                                            @*<input class="form-check-input" type="radio" value="3" id="rathernottosay" name="radioInput">*@
                                            <input class="form-check-input" type="radio"  value="3" asp-for="Users.Gender">
                                            <label class="form-check-label genderrr" for="rathernottosay">Rather Not To Say</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 my-3 ">
                                    <label for="" class="mb-2">Select Avatar</label>
                                    <div class="btn-group d-table-row avatarGroup" role="group" aria-label="Basic radio toggle button group">
                                        <img class="avatar rounded-circle mr-2" src="~/images/avatar-car.png" alt="" height="85">
                                        <img class="avatar rounded-circle mr-2" src="~/images/avatar-female.png" alt="" height="85">
                                        <img class="avatar rounded-circle mr-2" src="~/images/avatar-hat.png" alt="" height="85">
                                        <img class="avatar rounded-circle mr-2" src="~/images/avatar-iron.png" alt="" height="85">
                                        <img class="avatar rounded-circle mr-2" src="~/images/avatar-male.png" alt="" height="85">
                                        <img class="avatar rounded-circle" src="~/images/avatar-ship.png" alt="" height="85">
                                    </div>
                                </div>
                            </div>

                            <label for="" class=" fw-bold mt-3 detailss"> My address</label>
                            <hr>

                            <div class="row">
                                <div class="col-md-4 mb-4 ">
                                    <div class="form-group d-flex flex-column">
                                        <label for="streetname">Street Name</label>
                                        <input type="text" placeholder="Street Name" asp-for="UserAddresses.AddressLine1" id="ad1" class="ht bll pdd w-100" required>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4 ">
                                    <div class="form-group d-flex flex-column">
                                        <label for="housenumber">House number</label>
                                        <input type="text" placeholder="House Number" asp-for="UserAddresses.AddressLine2" id="ad2" class="ht bll pdd w-100" required>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="postalcode">Postal Code</label>
                                        <input type="text" placeholder="Postal Code" asp-for="UserAddresses.PostalCode" id="ad3" class="ht bll pdd w-100" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group d-flex flex-column">
                                        <label for="city">City</label>
                                        <div class="d-inline-block">
                                            <input type="text" asp-for="UserAddresses.City" id="ad4" class="ht bll pdd w-100" required />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="savechange" class="reschedule-btn rounded-pill text-light text-decoration-none px-4 mt-3 ">
                                Save
                            </button>
                        </form>

                    </div>
                    <!-- ---------------------- change password menu --------------------- -->
                    <div class="tab-pane fade" role="tabpanel" id="changePasswordTab" aria-labelledby="changePassword">
                        <form action="">
                            <div class="form-group mb-2 col-sm-4 ah">
                                <label for="oldPassword">Old Password</label>
                                <input type="password" name="oldPassword" id="oldpassword" placeholder="Current Password" class="form-control ht" maxlength="20" required>
                            </div>
                            <div class="form-group mb-2 col-sm-4 ah">
                                <label for="newPassword">New Password</label>
                                <input type="password" name="newPassword" id="newpassword" class="form-control ht" placeholder="Password" maxlength="20" required>
                            </div>
                            <div class="form-group mb-2 col-sm-4 ah">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" name="confirmPassword" id="confirmpassword" class="form-control ht " placeholder="New Password" maxlength="20" required>
                            </div>
                            <button type="button" id="changepassword" class="reschedule-btn rounded-pill text-light text-decoration-none px-4 mt-3 ml-3">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ............Footer Section....... -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="#" title="Helper Hand">
                            <img src="~/lib/images/white-logo-transparent-background.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a title="Home" asp-controller="home" asp-action="index">Home</a>
                            </li>
                            <li>
                                <a title="About" asp-controller="home" asp-action="aboutus">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a title="FAQS" asp-controller="home" asp-action="faq">FAQS</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="~/lib/images/ic-facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="~/lib/images/ic-instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p>©2018 Helperland. All rights reserved <a href="#" title="Privacy Policy">Privacy Policy</a></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>




    <script type="text/javascript">
        $('#tab1').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                targets: [1, 3]
            }]
        });
        $('#tab2').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                targets: [1, 3, 5]
            }]
        });
        $('#tab3').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                targets: [4]
            }]
        });
        $('#tab4').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                targets: [1, 2]
            }]
        });



        //============================================ changing password in third tab==================================================//
        $("#changepassword").on('click', function () {
            var pass = {};

            pass.Password = $("#oldpassword").val();
            pass.Newpassword = $("#newpassword").val();
            pass.Confirmpassword = $("#confirmpassword").val();
            console.log(pass);

            if (pass.Password == "" || pass.Newpassword == "" || pass.Confirmpassword == "") {
                alert('cannot insert null value');
            }
            else if (pass.Newpassword != pass.Confirmpassword)
            {
                alert("password and confirm password does not match");
            }
            else
            {
                $.ajax({
                    url: '@Url.Action("changepassword", "home")',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(pass),


                    success: function (resp) {
                        if (resp) {
                            alert("password changed");
                            location.reload();
                        }
                        else {
                            alert("old pass does not match");
                        }
                    },
                    error: function (err) {
                        alert("Error occured while changing the password");
                    }
                });
            }
        });




    </script>





    @if (TempData["error"] != null)
    {
        <script>
            $(document).ready(function () {
                alert('@TempData["error"]');
                @TempData.Remove("error");
            });

        </script>
    }
</body>

</html>